APP_DEBUG = true

DB_TYPE = mysql
DB_HOST = 127.0.0.1
DB_NAME = test
DB_USER = username
DB_PASS = password
DB_PORT = 3306
DB_CHARSET = utf8
DB_PREFIX = risk_

DB_TYPE_DOOPSUN = mysql
DB_HOST_DOOPSUN = 127.0.0.1
DB_NAME_DOOPSUN = doopsun
DB_USER_DOOPSUN = username
DB_PASS_DOOPSUN = password
DB_PORT_DOOPSUN = 3306
DB_CHARSET_DOOPSUN = utf8mb4
DB_PREFIX_DOOPSUN =

DEFAULT_LANG = zh-cn
